body {
  font-size: 1em;
  font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.4em;
}

.sticky {
    border-top: 8px solid #00aed1;
}

.top-bar {
    .name h1 a {
        color: #121212;
        text-transform: uppercase;
    }
}

header {
}

body > section {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #EFEFEF;
}

footer {
    background-color: #454545;
    color: #9A9A9A;
    padding: 32px 0;

    p.copyright {
        margin: 0;
    }

    ul.inline-list {
        margin: 0;
    }

    a {
        font-weight: bold;
    }
}

a.external:after {
    content: " →";
}

.middle {
    text-align: center;
}

.tagline {
    h2 {
        font-size: 56px;
    }
    p {
        font-size: 36px;
    }

    h2, p {
        text-align: center;
    }


}
